            <div class="site-footer">
                <div class="container">
                    <div class="site-footer-top">
                        <div class="address-info">
                            <a href="index.html">
                                <svg class="icon icon-logo blue"><use xlink:href="#icon-logo"></use></svg>
                            </a>
                            <span>Адрес отдела продаж:</span>
                            <p>Россия, Московская область, г. Дубна,<br>
                            ул. Университетская, д.11, стр. 29А</p>
                        </div>
                        <div class="menu-items">
                            <p class="title">Продукция</p>
                            <ul>
                                <li><a href="#">Apriori</a></li>
                                <li><a href="#">Diamant</a></li>
                                <li><a href="#">Mono</a></li>
                                <li><a href="#">Eco</a></li>
                            </ul>
                        </div>
                        <div class="menu-items">
                            <p class="title">ГОТОВЫЕ РЕШЕНИЯ</p>
                            <ul>
                                <li><a href="#">Музеям</a></li>
                                <li><a href="#">Торговым центрам</a></li>
                                <li><a href="#">Больницам</a></li>
                                <li><a href="#">Школам и вузам</a></li>
                                <li><a href="#">Отелям</a></li>
                                <li><a href="#">Госучреждениям</a></li>
                                <li><a href="#">Выставкам</a></li>
                            </ul>
                        </div>
                        <div class="menu-items">
                            <p class="title">ДОСТАВКА И СЕРВИС</p>
                            <ul>
                                <li><a href="#">Карта РФ с точками проектов</a></li>
                                <li><a href="#">Региональное обслуживание</a></li>
                                <li><a href="#">Гарантийное и пост гарантийное обслуживание</a></li>
                                <li><a href="#">Доставка</a></li>
                                <li><a href="#">Центр обновления драйверов</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="site-footer-bottom">
                        <div class="copyright hidden-xs hidden-sm">© 2010-2016 Zorgtech Зарегистрированная товарная марка Zorgtech. Дизайн всех производимых моделей запатентован.</div>
                        <div class="ibrush"><a href="http://ibrush.ru/" target="_blank">Сайт сделан в iBrush.ru</a></div>
                    </div>
                </div>
            </div>
            <div class="overlay"></div>

        <script src="js/external.js"></script>
        <script src="js/internal.js"></script>