            <div class="mobile-menu">
                <div class="mobile-menu-top">
                    <button class="icon icon-menu toggle-menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="index.html" class="logo">
                        <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg>
                    </a>
                </div>
                <div class="mobile-menu-middle">
                    <ul class="menu-parent">
                        <li class="has-child">
                            <a href="production.html">Продукция</a>
                            <div class="submenu">
                                <ul class="product-container-mini">
                                    <li>
                                        <a href="#" class="product-mini">
                                            <div class="thumb">
                                                <img src="img/product1.png" alt="">
                                            </div>
                                            <div class="content">
                                                <p class="name">MONO Multitouch </p>
                                                <p class="category">Напольные сенсорные киоски </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="product-mini">
                                            <div class="thumb">
                                                <img src="img/product2.png" alt="">
                                            </div>
                                            <div class="content">
                                                <p class="name">Diamant W Multitouch</p>
                                                <p class="category">Настенные сенсорные киоски </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="product-mini">
                                            <div class="thumb">
                                                <img src="img/product3.png" alt="">
                                            </div>
                                            <div class="content">
                                                <p class="name">Diamant Multitouch</p>
                                                <p class="category">Настенные сенсорные киоски </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="product-mini">
                                            <div class="thumb">
                                                <img src="img/product4.png" alt="">
                                            </div>
                                            <div class="content">
                                                <p class="name">Diamant N Multitouch</p>
                                                <p class="category">Сенсорные киоски </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="product-mini">
                                            <div class="thumb">
                                                <img src="img/product5.png" alt="">
                                            </div>
                                            <div class="content">
                                                <p class="name">Apriori</p>
                                                <p class="category">Сенсорные киоски </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="product-mini">
                                            <div class="thumb">
                                                <img src="img/product6.png" alt="">
                                            </div>
                                            <div class="content">
                                                <p class="name">Eco KID</p>
                                                <p class="category">Мультитач столы</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Области применения</a></li>
                        <li class="has-child">
                            <a href="#">Готовые решения</a>
                            <div class="submenu">
                                <ul class="submenu-nav">
                                    <li><a href="#">Музеям</a></li>
                                    <li><a href="#">торговым центрам</a></li>
                                    <li><a href="#">Выставкам</a></li>
                                    <li><a href="#">Школам и вузам</a></li>
                                    <li><a href="#">госучреждениям</a></li>
                                    <li><a href="#">больницам</a></li>
                                    <li><a href="#">банкам</a></li>
                                    <li class="all"><a href="#">Все готовые решения</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">Реализованные проекты</a></li>
                        <li><a href="#">Програмное обеспечение</a></li>
                        <li><a href="#">Доставка и сервис</a></li>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Блог</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li><a href="#">Поддержка</a></li>
                    </ul>
                </div>
                <div class="mobile-menu-bottom">
                    <span>Адрес отдела продаж:</span>
                    <p>Россия, Московская область, г. Дубна,<br> ул. Университетская, д.11, стр. 29А</p>

                    <a href="tel:8 800 333 29 75" class="phone-link">8 800 333 29 75</a>
                    <a href="#" class="call-link">Зазать звонок</a>
                </div>
            </div>
            <header class="site-header">
                <div class="site-header-top">
                    <div class="container">
                        <button class="icon icon-menu toggle-menu">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <button class="icon icon-menu close-nav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="index.html" class="logo">
                            <svg class="icon icon-logo"><use xlink:href="#icon-logo"></use></svg>
                        </a>
                        <ul class="main-menu">
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Блог</a></li>
                            <li><a href="#">Контакты</a></li>
                            <li><a href="#">Поддержка</a></li>
                        </ul>
                        <div class="phone">
                            <a href="tel:8 800 333 29 75">8 800 333 29 75</a>
                            <span>Звонок по России бесплатный</span>
                        </div>
                        <button class="btn btn-default">Заказать звонок</button>
                    </div>
                </div>
                <div class="site-header-bottom">
                    <div class="container">
                        <ul class="menu">
                            <li class="has-child">
                                <a href="production.html">Продукция</a>
                                <div class="menu-submenu submenu-catalog">
                                    <ul class="product-container-mini">
                                        <li>
                                            <a href="#" class="product-mini">
                                                <div class="thumb">
                                                    <img src="img/product1.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <p class="name">MONO Multitouch </p>
                                                    <p class="category">Напольные сенсорные киоски </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="product-mini">
                                                <div class="thumb">
                                                    <img src="img/product2.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <p class="name">Diamant W Multitouch</p>
                                                    <p class="category">Настенные сенсорные киоски </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="product-mini">
                                                <div class="thumb">
                                                    <img src="img/product3.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <p class="name">Diamant Multitouch</p>
                                                    <p class="category">Настенные сенсорные киоски </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="product-mini">
                                                <div class="thumb">
                                                    <img src="img/product6.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <p class="name">Eco KID</p>
                                                    <p class="category">Мультитач столы</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="product-mini">
                                                <div class="thumb">
                                                    <img src="img/product4.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <p class="name">Diamant N Multitouch</p>
                                                    <p class="category">Сенсорные киоски </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="product-mini">
                                                <div class="thumb">
                                                    <img src="img/product5.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <p class="name">Apriori</p>
                                                    <p class="category">Сенсорные киоски </p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#">Области применения</a></li>
                            <li class="has-child">
                                <a href="#">Готовые решения</a>
                                <div class="menu-submenu submenu-standard">
                                    <ul>
                                        <li><a href="#">Музеям</a></li>
                                        <li><a href="#">Торговым центрам</a></li>
                                        <li><a href="#">Выставкам</a></li>
                                        <li><a href="#">Больницам</a></li>
                                        <li><a href="#">Банкам</a></li>

                                        <li><a href="#">Школам и вузам</a></li>
                                        <li><a href="#">Музеям</a></li>
                                        <li><a href="#">Отелям</a></li>
                                        <li><a href="#">Госучреждениям</a></li>
                                        <li class="all"><a href="#">Все готовые решения</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li><a href="#">Реализованные проекты</a></li>
                            <li><a href="#">Програмное обеспечение</a></li>
                            <li><a href="#">Доставка и сервис</a></li>
                        </ul>
                    </div>
                </div>
            </header>
            <div class="site-header-bottom site-header-nav">
                <div class="container">
                    <button class="icon icon-menu open-nav">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="menu">
                        <li><a href="#characteristics" class="smooth-scroll">Характеристики</a></li>
                        <li><a href="#capabilities" class="smooth-scroll">Дополнительные возможности</a></li>
                        <li><a href="#">Задать вопрос</a></li>
                        <li><a href="#">Скачать презентацию</a></li>
                    </ul>
                    <p class="product-name">Mono T</p>
                    <div class="btn-div">
                        <a href="#" class="btn btn-default">Заказать</a>
                    </div>
                </div>
            </div>