<div class="widget widget-begin">
    <div class="container">
        <p class="begin-title">НЕ ЗНАЕТЕ, <br>С ЧЕГО НАЧАТЬ?</p>
        <ul class="begin-links">
            <li>
                <svg class="icon icon-callback"><use xlink:href="#icon-callback"></use></svg>
                <a href="#">
                    Закажите обрантый звонок
                </a>
                <p>Оставте свой номер, наш специалист свяжется с вами и поможет сделать правильный выбор</p>
            </li>
            <li>
                <svg class="icon icon-ready-solutions"><use xlink:href="#icon-ready-solutions"></use></svg>
                <a href="#">
                    Изучите готовые решения
                </a>
                <p>Мы подготовили типовые варианты решений самых популярных задач разных типов бизнеса</p>
            </li>
            <li>
                <svg class="icon icon-catalog"><use xlink:href="#icon-catalog"></use></svg>
                <a href="#">
                    Посетите каталог
                </a>
                <p>И выберите отдельную сенсорную панель, подходящую вашимтребованиям</p>
            </li>
        </ul>
        <div class="begin-form hidden-xs hidden-sm">
            <input type="tel" placeholder="+7">
            <input type="submit" class="btn btn-default" value="Отправить">
        </div>
    </div>
</div>