.btn {
  display: inline-block;
  font-size: 12px;
  line-height: 11px;
  padding: 18px 30px 16px;
  min-width: 150px;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  border-radius: 30px;
  text-decoration: none !important;
  cursor: pointer;
  width: auto;
  @include transition($transition);

  &-default {
    background: $btn-default-bg;
    color: #fff;

    &:hover {
      background: $btn-default-bg-hover;
      color: #fff;
    }
    &:focus,
    &:active,
    &:active:hover {
      background: $btn-default-bg-active;
      color: #fff;
    }
  }
  &-primary {
    background: $btn-primary-bg;
    color: $text-purple;

    &:hover {
      background: $btn-primary-bg-hover;
      color: $text-purple;
    }
    &:focus,
    &:active,
    &:active:hover {
      background: $btn-primary-bg-active;
      color: $text-purple;
    }
  }
  &-reset {
    background: transparent;
    color: $link-clear;
    padding: 0;
    font-weight: 500;

    &:hover {
      color: $link-clear-hover;

      .icon {
        color: $link-clear-hover;
      }
    }
    span {
      line-height: 13px;
      border-bottom: 2px dotted;
      display: inline-block;
    }
    .icon {
      margin: 0 6px;
      color: $link-clear;
      position: relative;
      top: 3px;
    }
  }
  &-filter {
    background: transparent;
    color: $btn-default-bg;
    border: 1px solid $btn-default-bg;

    span {
      position: relative;
      padding-left: 22px;

      &:before {
        content: '';
        width: 19px;
        height: 19px;
        position: absolute;
        top: -3px;
        left: -5px;
        background: url('../img/svg/filter.svg') no-repeat;
        background-size: cover;
      }
    }
    &:hover {
      background: transparent;
      color: $btn-default-bg-hover;
      border: 1px solid $btn-default-bg-hover;
    }
    &:focus,
    &:active,
    &:active:hover {
      background: transparent;
      color: $btn-default-bg-active;
      border: 1px solid $btn-default-bg-active;
    }
  }
  @for $btn from 20 through 50 {
    @if $btn % 2 == 0 {
      &.btn-#{$btn} {
        padding-left: $btn#{'px'};
        padding-right: $btn#{'px'};
      }
    }
  }
}
