@font-face {
  font-family: 'NeoSansCyr';
  font-style: normal;
  font-weight: 500;
  src: local('NeoSansCyr Medium'), local('NeoSansCyr-Medium'), url('../fonts/NeoSansCyr-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'NeoSansCyr';
  font-style: normal;
  font-weight: 400;
  src: local('NeoSansCyr'), local('NeoSansCyr-Regular'), url('../fonts/NeoSansCyr-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'NeoSansCyr';
  font-style: normal;
  font-weight: 300;
  src: local('NeoSansCyr Light'), local('NeoSansCyr-Light'), url('../fonts/NeoSansCyr-Light.ttf') format('ttf');
}