.icon {
  @include transition($transition);

  &-cross {
    max-width: 20px;
    max-height: 20px;
    color: $main-color;
    cursor: pointer;

    &:hover {
      color: $main-color;
    }
  }
  &-menu {
    position: absolute;
    top: 50%;
    left: 25px;
    padding: 0;
    margin-top: -12px;
    border: 0;
    background: transparent;
    border-radius: 0;

    @media (min-width: $screen-md) {
      display: none;
    }
    @media (max-width: $screen-xs-max) {
      left: 20px;
    }
  }
  &-bar {
    display: block;
    width: 29px;
    height: 4px;
    background: #fff;
    border-radius: 2px;

    &:not(:last-child) {
      margin-bottom: 6px;
    }
  }
  &-callback {
    max-width: 40px;
    max-height: 43px;
    color: #fff;
  }
  &-catalog,
  &-ready-solutions {
    max-width: 68px;
    max-height: 62px;
    color: #fff;
  }
  &-blog {
    max-width: 105px;
    max-height: 105px;
    color: #1DB1EA;
  }
  &-refresh {
    max-width: 35px;
    max-height: 37px;
    color: $main-color;
  }
  &-touch {
    max-width: 24px;
    max-height: 33px;
    color: #1EAAE0;
  }
  &-filter {
    max-width: 80px;
    max-height: 73px;
    color: #5AC1E8;
  }
  &-logo {
    max-width: 160px;
    max-height: 35px;
    position: relative;
    top: 4px;
    color: #fff;

    &.blue {
      color: $main-color;
    }
  }
  &-reset {
    max-width: 15px;
    max-height: 15px;
    color: $link-clear;
  }
  &-close {
    border: 0;
    position: absolute;
    top: 17px;
    right: 17px;
    width: 40px;
    height: 40px;
    background: url('../img/svg/close.svg') no-repeat center transparent;
    background-size: cover;
    @include opacity(.58);

    &:hover {
      @include opacity(.9);
    }
  }
}
