html, body {
  font-family: $font-family-base;
  font-size: $font-size;
  font-weight: 400;
  height: 100%;
  min-width: 300px;
}
body {
  &.no-scroll {
    overflow: hidden;
  }
}
.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;

  //&.off-canvas {
  //  &.fixed {
  //    .site-header {
  //      top: 0;
  //    }
  //  }
  //  &:not(.fixed) {
  //    .menu-submenu {
  //      opacity: 0 !important;
  //      filter: alpha(opacity=0) !important;
  //    }
  //  }
  //  .site-header {
  //    top: -134px;
  //  }
  //}
  &.nav {

    .content-page {
      padding: 90px 0;

      @media (max-width: $screen-sm-max) {
        padding: 70px 0;
      }
      @media (max-width: $screen-xs-max) {
        padding: 40px 0;
      }
    }
    .site-header {

      &-top {
        .container {
          position: relative;
        }
      }
    }
  }
  &.nav-hide-header {
    &.open-nav {
      .site-header {
        top: 0 !important;
      }
    }
    .site-header {
      top: -134px !important;

      &-top {
        .close-nav {
          @media (min-width: 1280px) {
            display: block;
          }
        }
      }
    }
    .site-header-nav {
      top: 0;
    }
  }
}
.bg {
  @each $bg, $color in $bg-colors {
    &-#{$bg} {
      background-color: $color;
    }
  }
}
.content-page {
  padding: 85px 0 90px;

  &-title {
    margin-bottom: 50px;
    @include flexbox();
    @include align-items(center);

    h1 {
      text-transform: uppercase;
      margin: 0;
    }
    .selection-link {
      margin-left: auto;
    }
    .result {
      display: inline-block;
      margin-left: 40px;
      font-size: 16px;
    }
    .bottom-nav {
      &.right {
        margin-left: auto;
      }
    }
    @media (max-width: $screen-md-max) {
      @include flex-wrap(wrap);
      position: relative;

      .btn-filter {
        position: absolute;
        bottom: -17px;
        left: 0;
      }
      .bottom-nav {
        width: 100%;
        margin-top: 50px;
        margin-bottom: -5px;
        text-align: right;
      }
    }
    @media (max-width: $screen-sm-max) {
      margin-bottom: 40px;
    }
    @media (max-width: $screen-xs-max) {
      @include flex-wrap(wrap);

      .selection-link {
        width: 100%;
        text-align: center;
        margin-top: 40px;
        margin-bottom: -25px;
        @include justify-content(flex-end);
      }
    }
    @media (max-width: $screen-xs) {
      h1 {
        font-size: 28px;
      }
      .bottom-nav {
        padding-top: 50px;
        @include flexbox();
      }
      .btn-filter {
        margin-bottom: 57px;
        width: 100%;
      }
      .result {
        margin-left: 0;
        margin-right: auto;
      }
      .toggle-sort {
        margin-left: auto;
      }
    }
  }
  &-container {
    @include flexbox();
    @include align-items(flex-start);
  }
  &-sidebar {
    width: 100%;
    max-width: 295px;
    background: #fff;
    margin-right: 25px;
  }
  &-primary {
    width: 100%;
    max-width: calc(100% - 320px);
  }
  @media (max-width: $screen-md-max) {
    &-container {
      position: relative;
    }
    &-primary {
      max-width: 100%;
    }
  }
  @media (max-width: $screen-sm-max) {
    padding: 60px 0;
  }
  @media (max-width: $screen-xs-max) {
    padding: 40px 0;
  }
}
.selection-link {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  border: 0;
  background: transparent;
  padding: 0;
  @include inline-flex();
  @include align-items(center);

  span {
    position: relative;
    top: 1px;
    line-height: 13px;
    border-bottom: 1px solid;
  }
  &:hover {
    text-decoration: none;
  }
  .icon {
    max-width: 24px;
    max-height: 20px;
    margin-right: 10px;
  }
}
.page {
  ul {
    list-style: disc;
    margin-left: 17px;

    li {
      font-size: 16px;
      font-weight: 300;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  ol {
    counter-reset: my-badass-counter;
    margin-bottom: 30px;

    li {
      padding-left: 18px;
      font-size: 16px;
      font-weight: 300;
      position: relative;

      &:before {
        content: counter(my-badass-counter) ".";
        counter-increment: my-badass-counter;
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 500;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
  p {
    font-size: 17px;
    line-height: 31px;
    font-weight: 300;
    margin-bottom: 20px;
  }
}
.detail {
  &-left {
    padding-right: 20px;

    @media (max-width: $screen-sm-max) {
      padding-right: 15px;
      margin-bottom: 50px;
    }
  }
  &-right {
    padding-left: 45px;

    .list {
      &-links {
        list-style: none;
        margin-left: 0;
        margin-top: 40px;

        li {
          margin-bottom: 30px !important;

          a {
            font-size: 18px;
            font-weight: 500;
          }
        }
        @media (max-width: $screen-xs-max) {
          margin-top: 30px;

          li {
            margin-bottom: 20px;

            a {
              font-size: 16px;
            }
          }
        }
      }
    }
    @media (max-width: $screen-sm-max) {
      padding-left: 15px;
      margin-top: 0;
    }
  }
  &-date {
    display: block;
    font-size: 13px;
    font-weight: 300;
    color: $text-purple;
    margin-top: 20px;
    margin-bottom: -10px;
  }
  &-phone {
    display: inline-block;
    font-size: 27px;
    font-weight: 500;
    line-height: 28px;
    color: #000;
    text-decoration: none;
    position: relative;
    top: -15px;

    &:hover {
      text-decoration: none;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
  }
  h2, h3, h4, h5, h6 {
    margin-bottom: 30px;
  }
  ul {
    list-style: disc;
    margin-left: 17px;
    margin-bottom: 30px;

    &.fs-20 {
      li {
        font-size: 20px;
        line-height: 35px;
      }
    }
    li {
      font-size: 16px;
      font-weight: 300;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
      @media (max-width: $screen-sm-max) {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
  ol {
    counter-reset: my-badass-counter;
    margin-bottom: 30px;

    li {
      padding-left: 18px;
      font-size: 16px;
      font-weight: 300;
      position: relative;

      &:before {
        content: counter(my-badass-counter) ".";
        counter-increment: my-badass-counter;
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 500;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      @media (max-width: $screen-sm-max) {
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
  p {
    font-weight: 300;
    margin-bottom: 30px;

    &.text {
      &-regular {
        font-weight: 400;
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    h1 {
      font-size: 28px;
      line-height: 37px;
    }
  }
  @media (max-width: $screen-xs-max) {
    .content-page-title {
      margin-bottom: 30px;
    }
    h1 {
      font-size: 24px;
      line-height: 28px;
    }
  }
}
.text {
  &-purple {
    color: $text-purple;

    &-light {
      color: #5d5b6e;
    }
  }
  &-regular {
    font-weight: 400;
  }
  &-semibold {
    font-weight: 500;
  }
  &-uppercase {
    text-transform: uppercase;
  }
}