.product {
  text-decoration: none !important;
  display: block;
  width: calc(25% - 34px);
  background: #fff;
  margin: 34px 17px 0;
  overflow: hidden;
  @include flexbox();
  @include flex-wrap(wrap);
  @include transition($transition);
  @include scale(1);

  &:hover {
    @include box-shadow(0 0 57px 0 rgba(80, 87, 92, .14));

    .product {
      &-name {
        color: $main-color;
      }
    }
  }
  &ion {
    width: calc(50% - 30px);
    min-height: 650px;
    margin: 30px 15px 0;
    padding: 35px 15px;
    position: relative;
    text-decoration: none;
    background: map_get($bg-colors, gray);
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    @include transition($transition);

    &:hover {
      text-decoration: none;
      background: #fff;
      @include box-shadow(0 0 40px -15px rgba(80, 87, 92, .14));

      .btn-primary {
        background: $btn-primary-bg-hover;
        color: $text-purple;
      }
    }
    &:focus,
    &:active,
    &:active:hover {
      .btn-primary {
        background: $btn-primary-bg-active;
        color: $text-purple;
      }
    }
    &-container {
      margin: -30px -15px 0;
      @include flexbox();
      @include flex-wrap(wrap);
    }
    &-big {
      background: #fff;

      &:hover {
        @include box-shadow(none);

        @media (max-width: $screen-sm-max) {
          @include box-shadow(0 0 40px -15px rgba(80, 87, 92, .14));

          .btn-primary {
            background: $btn-primary-bg-hover !important;
            color: $text-purple !important;
          }
        }
      }
      .content {
        width: 40%;
        padding-left: 20px;
        text-align: center;

        .name {
          font-size: 35px;
          font-weight: 500;
          line-height: 43px;
          text-transform: uppercase;
          color: $text-purple;
          @include transition($transition);
        }
        .category {
          font-size: 16px;
          line-height: 25px;
          text-transform: uppercase;
          margin: -10px 0 0 0;
        }
        .btn-primary {
          margin-top: 25px;
          background: #EDF0F4;

          &:hover {
            background: #d4d9e1;
          }
          &:focus,
          &:active,
          &:active:hover {
            background: #c9cdd3;
          }
        }
      }
    }
    &.full {
      width: calc(100% - 30px);
      padding-bottom: 0;
      padding-right: 0;

      .content {
        width: 30%;
      }
    }
    &.top {
      @include flex-wrap(wrap);

      .content {
        width: 100%;
        margin-top: 15px;
        margin-bottom: auto;
      }
    }
    &.right {
      .content {
        margin-left: auto;
      }
    }
    &.left {
      .content {
        margin-right: auto;
      }
    }
    .thumb {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      z-index: 0;
    }
    .content {
      position: relative;
      width: 45%;
      padding: 0 15px;
      text-align: center;
      z-index: 2;

      .name {
        font-size: 35px;
        font-weight: 500;
        line-height: 43px;
        text-transform: uppercase;
        color: $text-purple;
        @include transition($transition);
      }
      .category {
        font-size: 16px;
        line-height: 25px;
        text-transform: uppercase;
        margin: 0;
      }
      .btn-primary {
        margin-top: 25px;
      }
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md-max) {
      min-height: 550px;

      .content {
        .name {
          font-size: 25px;
          line-height: 33px;
        }
        .category {
          font-size: 14px;
        }
      }
    }
    @media (max-width: $screen-sm-max) {
      width: calc(100% - 30px);
      min-height: 365px;
      padding: 35px !important;

      &-big {
        background: map_get($bg-colors, gray);

        .content {
          .btn-primary {
            background: $btn-primary-bg;
            color: $text-purple;

            &:hover {
              background: $btn-primary-bg-hover;
              color: $text-purple;
            }
            &:focus,
            &:active,
            &:active:hover {
              background: $btn-primary-bg-active;
              color: $text-purple;
            }
          }
        }
      }
      .thumb {
        top: 30px;
        left: 5%;
        bottom: 30px;
        width: 35%;
        background-size: contain  !important;
        background-position: center !important;
      }
      .content {
        width: 40% !important;
        margin-left: auto !important;
        margin-right: 0 !important;
      }
    }
    @media (max-width: $screen-xs-max) {
      min-height: 480px;
      margin-top: 10px;
      margin-left: 0;
      margin-right: 0;
      width: 100% !important;
      padding: 35px 25px !important;
      @include align-items(flex-start);

      &-container {
        margin: -10px -15px 0;
      }
      .content {
        width: 100% !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding: 0 !important;
      }
      .thumb {
        top: 0;
        left: 0;
        bottom: 30px;
        width: 100%;
        right: 0;
        background-size: auto 190px !important;
        background-position: center bottom !important;
      }
    }
  }
  &.selection {
    padding: 30px;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    .selection-link {
      @include flex-wrap(wrap);
      @include justify-content(center);

      .icon {
        width: 100%;
        margin: 0 auto 20px;
        max-width: 40px;
        max-height: 35px;
      }
      span {
        text-align: center;
        font-size: 18px;
        line-height: 30px;
        font-weight: 500;
        border-bottom: 0;
        text-decoration: underline;
      }
    }
  }
  &.scale {
    @include scale(0);
  }
  &-container {
    width: calc(100% + 34px);
    margin: -34px -17px 0;
    @include flexbox();
    @include flex-wrap(wrap);

    &.catalog {
      margin: -20px -10px 0;

      .product {
        width: calc(33.3333% - 20px);
        margin: 20px 10px 0;
      }
    }
    &.loading {
      position: relative;

      &:before {
        content: 'Сортировка…';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: map_get($bg-colors, gray);
        z-index: 100;
        padding: 200px 0;
        @include flexbox();
        @include justify-content(center);
      }
    }
    &-mini {
      padding: 0 !important;
    }
    @media (max-width: $screen-sm-max) {
      &.catalog {
        margin: -46px -23px 0;

        .product {
          width: calc(50% - 46px);
          margin: 46px 23px 0;
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      &.catalog {
        margin: -46px -23px 0;

        .product {
          width: calc(100% - 46px);
          margin: 46px 23px 0;
        }
      }
    }
  }
  &-desc {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    color: $text-purple;
  }
  &-name {
    @include transition($transition);
  }
  &-price {
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    margin-top: 15px;
    color: $text-purple;
  }
  &-thumb {
    min-height: 245px;
    width: 100%;
    @include flexbox();
    @include align-items(flex-end);
    @include justify-content(center);
  }
  &-content {
    padding: 35px 40px;
    margin-top: auto;
  }
  &-mini {
    border-bottom: 1px solid $border-color-product;
    min-height: 200px;
    padding: 0 70px;
    @include flexbox();
    @include align-items(center);

    &:hover {
      .name {
        color: $link-menu;
        text-decoration: underline;
      }
    }
    .thumb {
      width: 40%;

      img {
        max-width: 120px;
        max-height: 145px;
      }
    }
    .content {
      width: 60%;
      padding-left: 20px;

      .name {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        @include transition($transition);
      }
      .category {
        font-size: 16px;
        line-height: 20px;
        text-transform: initial;
      }
    }
  }
  &-category {
    width: calc(50% - 30px);
    padding: 40px;
    min-height: 370px;
    text-decoration: none;
    display: block;
    margin: 30px 15px 0;
    background: map_get($bg-colors, gray);
    @include transition($transition);
    @include inline-flex();
    @include align-items(center);

    &:hover {
      text-decoration: none;
      background: #fff;
      @include box-shadow(0 0 40px -15px rgba(80, 87, 92, .14));

      .btn-primary {
        background: $btn-primary-bg-hover;
        color: $text-purple;
      }
    }
    &:focus,
    &:active,
    &:active:hover {
      .btn-primary {
        background: $btn-primary-bg-active;
        color: $text-purple;
      }
    }
    &.mini {
      width: calc(20% - 30px);
      min-height: 280px;
      padding: 40px 20px;
      @include flex-wrap(wrap);

      &:hover {
        background: rgba(map_get($bg-colors, gray), .42);
        @include box-shadow(none);

        .product-category {
          &-content {
            .title {
              color: $main-color;
              text-decoration: underline;
            }
          }
        }
      }
      &.active {
        @include opacity(.42);
        pointer-events: none;

        &:hover {
          background: map_get($bg-colors, gray);
        }
      }
      .product-category {
        &-thumb {
          width: 100%;
          min-height: 150px;
          margin-bottom: 20px;

          img {
            max-width: 100%;
            max-height: 135px;
            margin: 0 auto;
          }
        }
        &-content {
          width: 100%;

          .title {
            font-size: 20px;
            line-height: 24px;
            margin: 0;
            @include transition($transition);
          }
        }
      }
      @media (max-width: $screen-md-max) {
        width: calc(33.3333% - 30px);
      }
      @media (max-width: $screen-xs-max) {
        width: calc(50% - 30px);
      }
      @media (max-width: $screen-xs) {
        width: calc(100% - 30px);
      }
    }
    &-thumb {
      width: 40%;
      text-align: center;

      img {
        max-height: 200px;

        @media (min-width: $screen-sm) {
          max-width: 300px;
          margin-left: -30px;
        }
      }
    }
    &-content {
      width: 60%;
      text-align: center;

      &.full {
        width: 100%;
      }
      .selection-link {
        span {
          font-size: 18px;
          line-height: 18px;
        }
      }
    }
    .btn {
      font-weight: 400;
    }
    .title {
      font-size: 35px;
      font-weight: 500;
      color: $text-purple;
      line-height: 40px;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    @media (max-width: $screen-sm-max) {
      width: calc(100% - 30px);
    }
    @media (max-width: $screen-xs-max) {
      @include flex-wrap(wrap-reverse);
      @include flex-direction(row-reverse);

      &-thumb {
        width: 100%;
      }
      &-content {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
  &-detail {
    &-thumb {
      margin-left: -40px;
      margin-right: 40px;
      padding-right: 60px;

      @media (max-width: $screen-md-max) {
        padding-right: 0;
      }
      @media (max-width: $screen-sm-max) {
        margin-left: 0;
        margin-right: 0;
        padding-right: 40px;
      }
      @media (max-width: $screen-sm-max) {
        margin-top: 15px;
        padding-right: 15px;

        img {
          max-width: 190px;
          margin: 0 auto;
        }
      }
    }
    &-info {
      .order {
        margin-top: 30px;
        font-size: 15px;
        min-width: 165px;
        letter-spacing: 1px;
      }
      @media (max-width: $screen-xs-max) {
        .swap-xs {
          @include flexbox();
          @include flex-wrap(wrap-reverse);
          @include flex-direction(row-reverse);
          @include justify-content(center);
        }
        .order {
          margin-top: 15px;
          margin-bottom: 50px;
        }
      }
    }
    &-description {
      padding: 100px 0 110px;

      &.widget {
        padding: 100px 0 110px;
      }
      .product {
        &-title {
          font-size: 45px;
          font-weight: 400;
          line-height: 60px;
          color: $text-purple;
          margin-bottom: 35px;
        }
        &-description {
          margin-bottom: 90px;

          p {
            font-size: 17px;
            line-height: 31px;
            font-weight: 300;
            margin-bottom: 20px;
          }
        }
      }
      .toggle-sort {
        margin-left: 0;
        margin-top: 35px;
      }
      @media (max-width: $screen-sm-max) {
        padding: 80px 0;

        &.widget {
          padding: 80px 0;
        }
      }
      @media (max-width: $screen-xs-max) {
        padding: 60px 0;

        &.widget {
          padding: 60px 0;
        }
        .product {
          &-title {
            font-size: 35px;
            line-height: 43px;
            margin-bottom: 30px;
          }
          &-description {
            p {
              font-size: 15px;
              line-height: 24px;
            }
          }
        }
      }
    }
    .product {
      &-name {
        font-size: 55px;
        line-height: 68px;
        font-weight: 500;
        text-transform: uppercase;
        color: $text-purple;
        margin-bottom: 20px;
      }
      &-price {
        font-size: 45px;
        line-height: 45px;
        font-weight: 400;
        color: $main-color;
        margin-bottom: 25px;
      }
      &-include {
        font-size: 15px;
        font-weight: 300;
        color: #a7a4b8;
        line-height: 20px;

        span {
          color: $text-purple;
          display: block;
        }
      }
      &-advantages {
        margin-top: 45px;
        padding-top: 45px;
        border-top: 1px solid #d1dbe1;

        li {
          position: relative;
          padding-left: 55px;
          font-size: 18px;
          font-weight: 300;

          &:not(:last-child) {
            margin-bottom: 40px;
          }
          .icon {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 29px;
            max-height: 35px;
          }
        }
      }
      @media (max-width: $screen-sm-max) {
        &-name {
          font-size: 30px;
          line-height: 38px;
          margin-bottom: 0;
        }
        &-price {
          font-size: 22px;
          line-height: 22px;
          margin-bottom: 25px;
        }
        &-include {
          font-size: 18px;
          font-weight: 300;
          line-height: 22px;
          margin-bottom: 0;
        }
        &-advantages {
          border-top: 0;
          padding-top: 0;

          li {
            padding-left: 50px;
            font-size: 15px;

            &:not(:last-child) {
              margin-bottom: 30px;
            }
          }
        }
      }
      @media (max-width: $screen-xs-max) {
        &-include {
          width: 100%;
        }
        &-advantages {
          li {
            padding-left: 0;
            padding-top: 45px;

            .icon {
              max-width: 40px;
              max-height: 35px;
            }
          }
        }
      }
    }
  }
  @media (max-width: $screen-md-max) {
    width: calc(33.3333% - 34px);
  }
  @media (max-width: $screen-sm-max) {
    width: calc(50% - 34px);
  }
  @media (max-width: $screen-xs-max) {
    width: calc(100% - 34px);
    min-height: 400px;

    &-mini {
      text-align: center;
      min-height: 300px;

      .thumb {
        width: 100%;
      }
      .content {
        width: 100%;
        padding-left: 0;
      }
    }
  }
}