.slider {
  &-popular {
    .slick {
      &-list {
        padding: 0 17px;
        margin: 0 -34px;
      }
      &-slide {
        margin-top: 50px;
        margin-bottom: 50px;
      }
      &-dots {
        margin-top: -30px;
      }
    }
  }
  &-product {
    &-main {
      width: 100%;
      max-height: 450px;
      padding: 0 0 0 25px;

      .slick {
        &-dots {
          position: relative;
          margin: 10px 0 20px;
        }
        &-slide {
          img {
            margin: 0 auto;
          }
        }
      }
      @media (max-width: $screen-sm-max) {
        padding: 0;
      }
    }
    &-nav {
      width: 100%;
      margin-top: auto;

      .slick {
        &-list {
          padding: 0 !important;
          margin: 0 24px;
        }
      }
      .item {
        padding: 15px;
        border: 1px solid #D6DEE3;
        margin: 0 6px;
        cursor: pointer;
        height: 100px;
        @include inline-flex();
        @include align-items(center);
        @include justify-content(center);

        &.slick-current {
          border: 1px solid $main-color;

          img {
            @include opacity(1);
          }
        }
        img {
          @include transition($transition);
          @include opacity(.47);
        }
      }
      @media (min-width: $screen-lg) {
        position: relative;
        left: 30px;
      }
      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
  }
  &-product-gallery {
    img {
      margin: 0 auto;
      max-height: calc(100vh - 80px);
    }
    .slick {
      &-arrow {
        width: 55px;
        height: 55px;
      }
      &-prev {
        left: 20px;
      }
      &-next {
        right: 20px;
      }
      &-slide {
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
      }
    }
    @media (max-width: $screen-sm-max) {
      img {
        max-height: 100vh;
      }
      .slick {
        &-track {
          height: 100vh;
        }
        &-arrow {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  &-detail {
    margin-bottom: 50px;
  }
  &-team {
    .slick {
      &-list {
        margin: 0 -20px;
      }
    }
  }
  &-production {
    margin-bottom: 80px;

    .slick {
      &-slide {
        position: relative;
      }
      &-arrow {
        width: 50px;
        height: 50px;
        top: 50px;
      }
      &-next {
        right: 50px;
      }
      &-prev {
        left: inherit;
        right: 125px;
      }
    }
    .description {
      padding: 25px 150px 25px 50px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(#585858, .88);

      .name {
        display: block;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        line-height: 34px;
        text-transform: uppercase;
      }
      p {
        font-size: 22px;
        font-weight: 300;
        line-height: 34px;
        color: #fff;
        margin-top: 5px;
        margin-bottom: 0;
      }
    }
    @media (max-width: $screen-sm-max) {
      margin-bottom: 60px;

      .slick {
        &-next {
          right: 25px;
        }
        &-prev {
          right: 75px;
        }
        &-arrow {
          width: 40px;
          height: 40px;
        }
      }
      .description {
        padding: 25px 50px 25px 25px;

        p {
          font-size: 18px;
          line-height: 26px;
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      margin-bottom: 40px;

      .slick {
        &-next {
          right: 15px;
        }
        &-prev {
          right: 65px;
        }
        &-arrow {
          width: 40px;
          height: 40px;
          top: inherit;
          bottom: 15px;
        }
      }
      .description {
        position: static;
        padding: 25px;

        .name {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
  &-logos {
    margin-top: 50px;
    margin-bottom: -50px;

    .slick {
      &-track {
        @include align-items(center);
      }
    }
    img {
      margin: 0 auto;
      @include transition($transition);
      @include grayscale('on', 1);
      @include opacity(.52);

      &:hover {
        @include grayscale('on', 0);
        @include opacity(1);
      }
    }
  }
}
.slick {
  &-track {
    @include flexbox();
  }
  &-slide {
    height: auto;
  }
  &-dots {
    width: 100%;
    text-align: center;

    li {
      margin: 0 4px;
      display: inline-block;
      vertical-align: top;

      &.slick-active {
        button {
          @include opacity(1);
        }
      }
      button {
        width: 8px;
        height: 8px;
        padding: 0;
        border: 0;
        font-size: 0;
        background: $dots-bg;
        border-radius: 50%;
        @include transition($transition);
        @include opacity(.35);
      }
    }
  }
  &-arrow {
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    font-size: 0;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    z-index: 9;
    @include transition($transition);
    @include opacity(.58);

    &:hover {
      @include opacity(.9);
    }
  }
  &-prev {
    left: -20px;
    background-image: url('../img/svg/arrow_lft.svg');
  }
  &-next {
    right: -20px;
    background-image: url('../img/svg/arrow_rght.svg');
  }
  &-slider {
    &.standard {
      .slick {
        &-dots {
          position: absolute;
          bottom: 20px;

          li {
            button {
              background: #fff;
            }
          }
        }
        &-slide {
          max-height: 490px;

          img {
            min-width: 100%;
            max-width: none;
            min-height: 490px;
            max-height: 600px;
          }
        }
        &-arrow {
          width: 50px;
          height: 50px;
        }
        &-prev {
          left: 30px;
        }
        &-next {
          right: 30px;
        }
      }
      @media (max-width: $screen-sm-max) {
        .slick {
          &-arrow {
            width: 30px;
            height: 30px;
          }
          &-prev {
            left: 10px;
          }
          &-next {
            right: 10px;
          }
        }
      }
    }
  }
}
.item {
  outline: none !important;
}