/* Fonts */
$font-family-base:             'NeoSansCyr', sans-serif;
$font-size:                    17px;

/* Animation */
$transition:                   all .3s ease;

/* Main */
$main-color:                   #2AAADD;
$second-color:                 #465C98;

$text-color:                   #000;
$text-gray:                    #444444;
$text-purple:                 #4C495F;

$border-color:                 #dcddde;
$border-color-product:         rgba(98,122,189,.12);

$widget-title:                 #4C495F;

$table-tr-odd:                 #f5f9fc;
$table-tr-even:                rgba(#f5f9fc, .46);
$table-tr-border:              #fff;

/* Links */
$link-color:                   #1eaae0;
$link-hover-color:             #0bbdf7;

$link-menu:                    #46ccff;
$link-menu-hover:              #3ff3fe;

$link-clear:                   rgba(76, 73, 95, 0.72);
$link-clear-hover:             rgba(76, 73, 95, 1);

/* Buttons */
$btn-default-bg:               #2BABDD;
$btn-default-bg-hover:         #3BC0F4;
$btn-default-bg-active:        #2798C5;

$btn-primary-bg:               #fff;
$btn-primary-bg-hover:         #EDF0F4;
$btn-primary-bg-active:        #E5EAEF;

$btn-more-bg:                  transparent;
$btn-more-bg-hover:        	   #BFC6C8;
$btn-more-bg-active:       	   #A8ADAF;
$btn-more-border:              #BDC4C6;

// Radio, Checkbox
$radio-icon:                   #18181C;
$radio-border:                 #c8cbce;

$checkbox-icon:                #18181C;
$checkbox-border:              #c8cbce;

// Background colors
$bg-colors: (
    white:                     #fff,
    gray-light:                #fafafa,
    gray:                      #F4F7F8,
    footer:                    #19181C,
    aqua:                      #e9f1f6
);

// Slick
$dots-bg:                      #c3c3c3;