.volunteer {
	&s {
		h2 {
			margin-bottom: 30px;
		}
		p {
			font-size: 18px;
			line-height: 27px;
			margin-bottom: 30px;
		}
		.gosha {
			background: url('../img/gosha.png') left center no-repeat;
			background-size: contain;
			padding-left: 134px;
		}
	}
	&-block {
		h2 {
			margin-bottom: 40px;
		}
		.load-more {
			margin-top: 80px;
		}
	}
	&-container {
		margin: 0 -15px;
		@include flexbox();
		@include flex-wrap(wrap);
		@include transition($transition);
	}
	&-item {
		text-decoration: none;
		text-align: center;
		width: calc(25% - 30px);
		margin-left: 15px;
		margin-right: 15px;
		position: relative;
		padding-top: 3px;
		overflow: hidden;

		&:not(:nth-child(-n+4)) {
			margin-top: 65px;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: -3px;
			right: -3px;
			bottom: -3px;
			height: 196px;
			width: 196px;
			margin: 0 auto;
			border-radius: 50%;
			pointer-events: none;
			z-index: 4;

			background: rgba(248,80,50,1);
			background: -moz-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(246,151,48,1) 100%);
			background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(100%, rgba(246,151,48,1)));
			background: -webkit-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(246,151,48,1) 100%);
			background: -o-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(246,151,48,1) 100%);
			background: -ms-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(246,151,48,1) 100%);
			background: linear-gradient(135deg, rgba(248,80,50,1) 0%, rgba(246,151,48,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#f69730', GradientType=1 );

			@include transition($transition);
			@include opacity(0);
		}
		&:hover {
			text-decoration: none;

			&:before {
				@include opacity(1);
			}
			.volunteer {
				&-name {
					color: $link-hover-color
				}
			}
		}
		&:focus {
			text-decoration: none;
		}
	}
	&-thumb {
		height: 190px;
		width: 190px;
		background-color: #fff;
		background-position: center;
		background-repeat: no-repeat;
		margin: 0 auto 20px;
		position: relative;
		z-index: 5;
		border-radius: 50%;
	}
	&-name {
		font-size: 18px;
		line-height: 22px;
		color: #000;
		@include transition($transition);
	}
	&-time {
		margin: 15px 0 0 0;
		color: #808080;
	}
	&-history {
		margin-top: 80px;
		position: relative;
	}
	&-form {
		p {
			font-size: 18px;
			margin-bottom: 30px;
		}
		.btn {
			margin-top: 30px;
			font-size: 18px;
			padding: 20px 40px;
		}
	}
	&-detail {
		&-content {
			padding-left: 50px;
		}
		p {
			font-weight: 300;
			line-height: 22px;
			margin-bottom: 25px;
		}
		.volunteer {
			&-title {
				max-width: 75%;
				font-size: 38px;
				line-height: 50px;
				margin-bottom: 80px;
			}
		}
	}
	&-contacts {
		line-height: 32px;

		a {
			display: block;
			text-decoration: none;
			color: #000;

			&:hover {
				color: $link-hover-color;
			}
		}
	}
	@media (max-width: $screen-sm-max) {
		&-item {
			width: calc(50% - 30px);

			&:not(:nth-child(-n+4)) {
				margin-top: 0;
			}
			&:not(:nth-child(-n+2)) {
				margin-top: 65px;
			}
		}
		&-form {
			.form-group {
				margin-bottom: 35px;
			}
		}
		&-detail {
			&-content {
				padding-left: 15px;
			}
			&-thumb {
				text-align: center;

				figure {
					img {
						width: auto;
					}
				}
			}
			p {
				font-size: 18px;
				font-weight: 300;
				line-height: 28px;
				margin-bottom: 30px;
			}
			.volunteer {
				&-title {
					max-width: 100%;
					margin-bottom: 50px;
				}
			}
		}
	}
	@media (max-width: $screen-xs-max) {
		&-block {
			h2 {
				text-align: center;
			}
		}
		&-item {
			width: calc(100% - 30px);

			&:not(:nth-child(-n+2)) {
				margin-top: 0;
			}
			&:not(:first-child) {
				margin-top: 65px;
			}
		}
		&-detail {
			&-thumb {
				padding: 0;
				margin: 0 -3px;
				width: calc(100% + 6px);

				figure {
					img {
						width: auto;
					}
				}
				figcaption {
					display: block;
					text-align: left;
					padding: 0 18px;
				}
			}
		}
		&s {
			.gosha {
				background: transparent;
				padding-left: 0;
			}
		}
	}
}